<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cargar a Base de Datos</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="/public/js/myCtrl.js"></script>

    <script>
        window.addEventListener('load', start, false);

        function start() {
            document.getElementById('file').addEventListener('change', load, false);
        }

        function load(ev) {
            document.getElementById('datos').innerHTML='Nombre del archivo:'+ev.target.files[0].name+'<br>'+
                    'Tamaño del archivo:'+ev.target.files[0].size+'<br>'+
                    'Tipo MIME:'+ev.target.files[0].type;
            var arch=new FileReader();
            if (true){ //On future, MIME validation
                arch.addEventListener('load',read,false);
                arch.readAsText(ev.target.files[0]);
            }
        }

        function read(ev) {
            document.getElementById('data').innerHTML=ev.target.result;
            document.getElementById('button').disabled = false;
        }

        function submitToDB() {
            alert('You shall not pass!')
        }
    </script>
</head>
<body>
    <h1>Seleccione su archivo en formato .csv</h1>
    <input type="file" id="file" accept=".csv,.txt"><br>
    <pre id="data"></pre>
    <br>
    <p id="datos"></p>
    <input type="button" name="button" id="button" value="Subir!" disabled onclick="submitToDB()" />
</body>
</html>