<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/sessionCtrl.js"></script>
</head>
<body ng-controller="sessionCtrl">
<div class="container">
    <a href="/home" ng-click="guardarId('<%= user.id %>')" class="btn btn-primary btn-sm"> Home </a>
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page </h1>
        <a href="/logout" class="btn btn-primary btn-sm"> Logout </a>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <p>
                    <strong> id </strong>: <%= user.id %><br>
                    <strong> email </strong>: <%= user.email %><br>
                    <strong> password </strong>: <%= user.password %><br>
                </p>

            </div>
        </div>

    </div>

</div>
</body>

</html>