<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/uploadCtrl.js"></script>
    <title>Subir Archivo</title>
</head>

<body>
<nav class="navbar navbar-default" style="margin:0" >
    <div class="container-fluid" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuarios <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/verUsuario">Ver Usuario</a></li>
                        <li><a href="/crearUsuario">Crear Usuario</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Encuesta <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/verEncuesta">Ver Encuesta</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Llamado <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Llamar">Llamar</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Hola Nombre <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile">Ver Perfil</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">Info</h1>
    </div>
    <div class="panel-body">
        Bienvenido a la seccion de carga de datos
    </div>
</div>
<div ng-controller="uploadCtrl" class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Seleccione archivo .csv </h1>
    </div>
    <input type="file" on-read-file="showContent($fileContent)" accept=".csv"/>
    <div ng-if="content" class="panel-body">
        <h2>El archivo contiene:</h2>
        <pre>{{ content }}</pre>
    </div>

    <div ng-if="content">
        <button class="btn btn-primary btn-sm" type="button" mw-confirm-click="upload('Archivos cargados!')" mw-confirm-click-message="¿Deseas enviar a la base de datos?"> Enviar </button>
    </div>
</div>


</body>

</html>